:root {
    --color-bg-dark: #1e1e2f;
    /* fundo escuro */
    --color-bg-light: #f5f7fa;
    /* fundo claro */
    --color-primary: #ffffff;
    /* roxo moderno */
    --color-primary-hover: #9b59b6;
    /* roxo mais claro no hover */
    --color-danger: #ff4d4f;
    /* vermelho moderno */
    --color-danger-hover: #d9363e;
    /* vermelho escuro */
    --color-warning: #ffa940;
    /* laranja vibrante */
    --color-text-light: #e0e0e0;
    /* texto claro */
    --color-text-dark: #2c2c2c;
    /* texto escuro */
    --color-border: rgba(255, 255, 255, 0.2);
    /* borda translúcida */
}


input[type="file"]::file-selector-button {
    display: flex;
    flex-wrap: wrap;
    background: transparent;
    color: #fff;
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 90%;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: 600;
}

input[type="file"]::file-selector-button:hover {
    background: linear-gradient(135deg, var(--color-primary-hover), #7d3c98);
}



.install {
    background: var(--color-bg-dark);
    border-radius: 12px;
    padding: 30px;
    width: 400px;
    margin: 40px auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    color: var(--color-text-light);
    font-family: 'Segoe UI', Arial, sans-serif;
    transition: transform 0.3s ease;
}

.install:hover {
    transform: translateY(-4px);
}

.bloco-titulo h2 {
    margin: 0 0 20px 0;
    font-size: 22px;
    font-weight: 600;
    color: var(--color-primary);
    text-align: center;
}

.bloco-input {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

/* Input translúcido */
.bloco-input input[type="file"] {
    padding: 10px;
    border: 2px dashed var(--color-border);
    border-radius: 8px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.05);
    /* translúcido */
    color: var(--color-text-light);
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    width: 100%;

}

.bloco-input input[type="file"]:hover {
    border-color: var(--color-primary);
    background-color: rgba(255, 255, 255, 0.1);
}

/* Botão roxo */
.bloco-input button {
    background: var(--color-primary-hover);
    color: #070707;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.bloco-input button:hover {
    background: var(--color-primary-hover);
    transform: scale(1.05);
}

.install-result {
    margin-top: 20px;
    padding: 12px;
    border-radius: 8px;
    font-size: 14px;
    text-align: center;
    display: none;
}

/* Mensagens de resultado */
.install-result.success {
    background-color: var(--color-primary);
    color: #fff;
}

.install-result.error {
    background-color: var(--color-danger);
    color: #fff;
}