:root {
    /* fundo escuro moderno */
    --background-white: #0e0e0e69;
    /* branco suave */
    --azul-back: #2a2d3e;
    /* azul grafite */
    --azul-front: #24293f;
    /* azul mais claro translúcido */
    --border-color: rgba(255, 255, 255, 0.1);
    /* borda discreta */
    --color-font: #e0e0e0;
    /* cinza claro para texto */
    --color-font2: #e0e0e0;
    /* cinza escuro para títulos */
    --color-font3: #e0e0e0;
    ;
    /* cinza médio */
    --cert-background: #24293f;
    /* fundo dos cards em azul grafite */
}



* {
    background-color: var(--background);
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-font);
}

html {
  font-size: 16px; /* padrão desktop */
}

@media (max-width: 1200px) {
  html { font-size: 15px; }
}
@media (max-width: 992px) {
  html { font-size: 14px; }
}
@media (max-width: 768px) {
  div.valor,
  .cert .top,
  .cert .bottom,
  .bloco-total p {
    font-size: 0.75rem;
  }
  .bloco-titulo h2 {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  html { font-size: 12px; }
}


h3,
h1,
h2,
p {
    background-color: transparent;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.2rem; }
p  { font-size: 1rem; }


html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* impede que o conteúdo ultrapasse */
    ;
}

body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 100vh;
}

div.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--azul-front);
    width: 100%;
}



div.search {
    padding: 10px;
    background-color: var(--azul-front);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: scroll;
}


