div.menu {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 20%;
    border-radius: 10px;

}

.title_menu {
    background-color: transparent;
    font-size: 0.9rem; /* antes: small */
    padding: 8px;
    transition: all 0.3s ease;
    border: none;
    box-shadow: none;
}

.title_menu:hover {
    color: #d1d0d0;
    border: 2px solid var(--border-color);
    font-weight: 600;
    background-color: rgba(24, 25, 40, 0.8);
    padding: 10px;
    border-radius: 5px;
}


#config_sql {
    
    margin: 20px;
    
    background: transparent;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.2s;
}

#config_sql img {
    width: 40px;
    height: 30px;

}

#config_sql:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Efeito suave ao passar o mouse */
}

